body {
	color:#FF0000;
	background: #000000;
	}
a {
	color:#D81818;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
	}

span a {
	border-bottom: 1px dotted #D81818;
}
span a:hover {border-bottom: 1px dotted #EB5151;
}
a:link {color:#D81818;
	background-color: transparent;}
a:visited {color:#D81818;
	background-color: transparent;}
a:hover {color: #EB5151;
	background-color: transparent;
}

