body {
	color:#FF0000;
	background: #000000;
	}
a {
	color:#D81818;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
	}

span a {
	color:#000000;
	background-color: #D81818;
	font-weight: normal;
	text-decoration: none;
}
a:link {color:#D81818;
	background-color: transparent;}
a:visited {color:#D81818;
	background-color: transparent;}
a:hover {color: #EB5151;
	background-color: transparent;
	
}
span a:link {color:#000000;
	background-color: #D81818;}
span a:visited {color:#000000;
	background-color: #D81818;}
span a:hover {color: #000000;
		background-color: #eb5151;
	}
	font a {border-bottom: 1px dotted #D81818;
	}
	font a:hover {color: #EB5151;
	background-color: transparent;
        border-bottom: 1px dotted #EB5151;
	}
      
